<?php
if (basename(__FILE__) == basename($_SERVER['PHP_SELF'])) {
    http_response_code(403);
    exit('Direct access not allowed.');
}

const APP_ENV = 'production';

const DB_HOST = '<hostname>';
const DB_NAME = '<database_name>';
const DB_USER = '<username>';
const DB_PASSWORD = '<password>';