header {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: midnightblue;
    cursor: pointer;
    text-decoration: none;
}

.logo span {
    color: #000;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: midnightblue;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .nav-container {
        flex-direction: column;
    }

    nav ul {
        margin-top: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav ul li {
        margin: 5px 10px;
    }
}